

body {
    background-color: #ffffff;
    font-family: HelveticaNeueRegular, HelveticaNeue-Regular, "Helvetica Neue Regular", HelveticaNeue, "Helvetica Neue", Helvetica, Arial;
    color: #388371;
}

h1 {
    display: block;
    text-align: center;
    margin: 5px;
    padding: 30px;
    font-size: 3em;
    color: #b91010;
    background-color: #566167;
    border-radius: 30px;
    text-shadow: 1px 1px 1px #000000;
}

h2 {
	font-size: 1.4em;
    color: #38598b;
}

h3 {
	font-size: 1.2em;
    color: #38598b;
}

h4 {
	font-size: 1em;
    color: #38598b;
}

th, td {
    padding-left: 15px;
  }


.slidecontainer {
	display:inline;
	color: #e4530f;
}

#connected_ap_label, #connected_ap {
	display:inline;
}

#ip_address_label, #netmask_label, #gateway_label {
	display:inline;
}

#wifi_connect_ip, #wifi_connect_netmask, #wifi_connect_gw {
	display:inline;
}

#connected_ap {
	color: #1d3557;
}

#wifi_connect_ip {
	color: #1d3557;
}

#wifi_connect_netmask {
	color: #1d3557;
}

#wifi_connect_gw {
	color: #1d3557;
}

#disconnect_wifi {
	display: none;
}


input[type="button"] {
	font-size: 12px;
	border: 0;
    line-height: 2;
    padding: 0 5px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: #a2a8d3;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

input[type="button"]:hover {
    background-color: #38598b;
}


input[type="button"]:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


.section {
	border: 0;
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: #c12323;
    
    border-radius: 15px;
    background-color: #ffffffd5;
    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}









